<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="/js/custom.js"></script>
   <link rel="stylesheet" href="/css/custom.css">
   <link href="https://fonts.googleapis.com/css?family=Freckle+Face" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Delius+Unicase" rel="stylesheet">
</head>
<body>


  <h1><b>FIND THE PENGUIN</b></h1>
  
  <p class="two">SCORE : <span id="dispScore"></span></p>
   <!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-4 col-md-4"><img src="/images/mound_1.png" alt="" id="myPicture1" onclick="choosePic1()" ></div>
  <div class="col-xs-4 col-md-4"><img src="/images/mound_1.png" alt="" id="myPicture2" onclick="choosePic2()" mousedown="removePic()"></div>
  <div class="col-xs-4 col-md-4"><img src="/images/mound_1.png" alt="" id="myPicture3" onclick="choosePic3()" mousedown="removePic()"></div>
</div>

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col-xs-4 col-md-4"><img src="/images/mound_1.png" alt="" id="myPicture4" onclick="choosePic4()" mousedown="removePic()"></div>
  <div class="col-xs-4 col-md-4"><img src="/images/mound_1.png" alt="" id="myPicture5" onclick="choosePic5()" mousedown="removePic()"></div>
  <div class="col-xs-4 col-md-4"><img src="/images/mound_1.png" alt="" id="myPicture6" onclick="choosePic6()" mousedown="removePic()"></div>
</div>

<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
   <div class="col-xs-4 col-md-4"><img src="/images/mound_1.png" alt="" id="myPicture7" onclick="choosePic7()" mousedown="removePic()"></div>
  <div class="col-xs-4 col-md-4"><img src="/images/mound_1.png" alt="" id="myPicture8" onclick="choosePic8()" mousedown="removePic()"></div>
  <div class="col-xs-4 col-md-4"><img src="/images/mound_1.png" alt="" id="myPicture9" onclick="choosePic9()" mousedown="removePic()"></div>
</div> 
</body>
</html>